#
DATA SCIENCE ECOSYSTEM

IN THIS NOTEBOOK . DATA SCIENCE TOOLS AND ECOSYSTEM ARE SUMMARISED

* LIST SOME OF THE LANGUAGES 
* LIST SOME OF LIBRARIES 
* LIST SOME OF THE TOOLS

SOME OF THE POPULAR LANGUAGES THAT DATA SCINTISTS USE ARE
 1. PYTHON
 2. JULIA
 3. R
 4. SCALA

SOME OF THE POPULAR DATA SCIENCE LIBRARIES ARE :
 1. NUMPY
 2. PANDAS
 3. MATPLOTLIP
 4. SCIPY
 5. TENSORFLOW
 6. PYTORCH

|DATA SCINCE TOOLS |
|----------------- |
|VISUAL STUDIO CODE|
|JUPYTER NOTEBOOK|
| R STUDIO |

### BELOW ARE A FEW EXAMPLES OF EVALUATING ARITHMETIC EXPRESSION IN PYTHON

In [1]:
# THIS LINE OF CODE MULTPLIES AND ADDS INTEGERS
( 3 * 4 ) + 5

17

In [5]:
MINUTES = 200 
MINUTES / 60
# CONVERT MINUTES TO HOURS

3.3333333333333335

##